{% extends 'base.html' %}
{% block content %}

    <!-- begin:modal-signin -->
  <div  id="modal-signin" tabindex="-1" role="dialog" aria-labelledby="modal-signin" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">ورود</h4>
          </div>
          <div class="modal-body">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}


            <input type="submit" class="btn btn-primary btn-block btn-lg" value="ورود به سایت">

          </form>
         </div>
        </div>
      </div>
    </div>
    <!-- end:modal-signin -->
{% endblock %}