    <!-- begin:footer -->
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
              <h3>املاک و مستغلات ثبت شده</h3>
              <ul class="list-unstyled">
                <li><a href="#">مسکونی</a></li>
                <li><a href="#">آپارتمانی</a></li>
                <li><a href="#">ویلایی</a></li>
                <li><a href="#">تجاری</a></li>
                <li><a href="#">اداری</a></li>
                <li><a href="#">زمین</a></li>

              </ul>
            </div>
          </div>
          <!-- break -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
              <h3>ویژگی ها</h3>
              <ul class="list-unstyled">
                <li><a href="#">سامانه مشاورین</a></li>
                <li><a href="#">فرصت های شغلی</a></li>
                <li><a href="#">تبلیغات در باوین</a></li>
                <li><a href="#">ارتباط با کارشناسان</a></li>

              </ul>
            </div>
          </div>

          <!-- break -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget left">
              <h2>
                BavinMelk
                <img src="/logo/bavinLogo.svg">

              </h2>
              <address>
                <strong>باوین ملک</strong>
                <br>
                دفتر مرکزی: ونک، خیابان پنجم گاندی، پلاک 22 ساختمان مروارید
                <br>
                <br>
                تلفن پشتیبانی: 021 - 8686 |09190628686
                <br>
                <br>Email : BavinMelk@gmail.com</br>
                <br>WhatsApp : 09903452783</br>
              </address>
            </div>
          </div>
          <!-- break -->
        </div>
        <!-- break -->

        <!-- begin:copyleft -->
        <div class="row">
          <div class="col-md-12 copyleft">
            <p>کلیه حقوق این سایت متعلق به باوین ملک می باشد.
            </p>

            <a href="#top" class="btn btn-primary scroltop"><i class="fa fa-angle-up"></i></a>
            <ul class="list-inline social-links">
              <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="bottom" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="icon-instagram" rel="tooltip" title="" data-placement="bottom" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" class="icon-telegram" rel="tooltip" title="" data-placement="bottom" data-original-title="Telegram"><i class="fa fa-paper-plane-o"></i></a></li>

            </ul>

            </ul>
          </div>
        </div>
        <!-- end:copyleft -->

      </div>
    </div>
    <!-- end:footer -->