{% extends 'base.html' %}
{% block content %}

     {% for comment in comments %}
        <div class="card bg-dark text-white">
             <p class="card-header">{{ comment.user }} | {{ comment.created | timesince }}</p>
             <p class="card-body">{{ comment.body }}</p>

             {% if request.user.is_authenticated %}
                  <form action="{% url 'contact:add_reply' post.id comment.id %}" method="post">
                      {% csrf_token %}
                       {{ form.as_p }}
                      <input type="submit" value="ارسال">
                  </form>
             {% endif %}

             {% with replies=comment.rcomments.all %}
                 {% for reply in replies %}
                      <p class="bg-primary p-3 m-2"> {{ reply.user }} <br/> {{ reply.body }}</p>
                 {% endfor %}
             {% endwith %}
        </div><br/>
    {% empty %}
        <p> پیغامی نیست</p>
    {% endfor %}
{% endblock %}